div.row
  div.col-xs-4.col-xs-offset-4
    div.row(ng-repeat="entry in $ctrl.db")
      img.col-sx-12(
        ng-src="/screens/{{entry.filename}}.png"
        style="width:100%"
      )
      div.col-xs-6 {{entry.cards}} ({{entry.cards.length}})
      div.col-xs-6 {{entry.nums}} ({{entry.nums.length}})
      div.col-xs-12 {{entry.filename}}
      hr
