doctype html
html(ng-app='calc')
  head
    title Calculords Haaax
    link(rel='icon', type='image/png', href='hate-bit-favicon.png')
    link(rel='stylesheet', href='bootstrap.min.css', crossorigin='anonymous')
    link(rel='stylesheet', href='/calc.css')
  body(ng-controller='gaem as g')
    block content
  script(src='angular.js')
  script(src='ng.js')
  script(src='calculords.js')
